label, input{
    display: block;
}
.container{
    .title{
        color: $dark-green;
        font-family: $rubik-font;
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
    }
    .section{
        text-align: center;
        font-family: $open-sans-font;
        font-size: 1rem;
        height: 144px;
        color: $dark-grey;
        @media all and (min-width: 768px){
            height: 120px;
        }
        @media all and (min-width:1200px){
            height: 96px;
        }
        .paragraph{
            font-size: 0.75rem;
            .asterisk{
                color: $aqua;
            }
        }
    }
    .container--form{
        @media all and (min-width:1200px){
            margin-bottom: 120px;
        }
        .form{
            color: $dark-grey;
            font-family: $open-sans-font;
            font-size: 14px;
            display: flex;
            flex-direction: column;
            .asterisk{
                color: $aqua;
            }
            .input{
                @include input;
            }
            .contact{
                flex-direction: column;
                @media all and (min-width:1200px){
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                .contact--email{
                    @media all and (min-width:1200px){
                        margin-right: 22px;
                        width: 70%;
                    }
                    .asterisk{
                        color: $aqua;
                    }
                    .input{
                        @include input;
                    }
                }
                .contact--phone{
                    @media all and (min-width:1200px){
                        margin-left: 22px;
                    }
                    .input{
                        @include input;
                    }
                }
            }
            .asterisk{
                color: $aqua;
            } 
            .input{
                @include input;
            } 
            .message{
                height: 105px;
            }
            .button{
                font-family: $open-sans-font;
                font-weight: 600;
                font-size: 16px;
                background-color: $dark-green;
                color: #fff;
                border: none;
                border-radius: 4px;
                width: 100%;
                height: 45px;
                margin-top: 17px;
                
                &:hover {
                    transform: scale(1.05);
                    transition: ease 1s;
                    background-color: #067267;
                    font-size: 18px;
                }
                @media all and (min-width: 768px){
                    align-self: flex-end;
                    width: 50%;
                }
            }
        }
    }
}