//Vendor
@import 'vendor/normalize';

//Core
@import 'core/links';
@import 'core/mixins';
@import 'core/variables';
// @import 'core/functions';

// Layout
@import 'layout/structure';
@import 'layout/header';
@import 'layout/footer';

// Pages
@import 'pages/home';
@import 'pages/contact';

// Components
@import 'components/hero';












@media all and (min-width: 768px){
    .container {
        margin: 0 46px;
        
    }
    .claim_hero{
        max-width: 441px;
        opacity: 0.8;
        transform: translateY(0%);
    }

    .cont_menu{
        display: flex;
        justify-content: space-between;
    }

    .menu{
        background-color: #099d8d;
        width: 320px;
    }

    .square{
        left: 48%;
    }

    .cont_grey{
        display: flex;
    }

    .sec1 , .sec2{
        width: 50%;
    }

    .sec1{
        margin-right: 15px;
    }
    .sec2{
        margin-left: 15px;
    }
    .member-impair {
        display: flex;
        flex-flow: row nowrap;

    }  
    .networks{
        margin-top: 20px;

    }

    .containernetworks-impair{
        transform: translateX(-145px);
    }
    .about-impair  {
        text-align: left;
        margin: 0;
        width: 427px;
    }

    .member-pair {
        display: flex;
        flex-flow: row-reverse nowrap;
    }  
    .containernetworks-pair{
        transform: translateX(149px);
    }
    .about-pair  {
        text-align: right;
        margin: 0;
        width: 427px;
    }
    
    .photo{
        width: 206px;
        height: 206px;
    }

    .photo-impair {
        margin-left: 0px;
        margin-right: 30px;
    }

    .photo-pair {
        margin-left: 30px;
        margin-right: 0px;
    }

    .image{
        width: 206px;
    }
    .copyright , .logo_Adalab{
        text-align: left;
    }

    .nav {
        text-align: right;
        transform: translateY(-30px);
    }
    .logo_Adalab{
        transform: translateY(-90px);
    }
    .footer{
        height: 130px;
    }

    .description{
        padding: 0px;
    }

    .twitter{
        margin-left: 0px;
    }
   
    
}





@media all and (min-width: 1016px){
    .container {
        margin: 0 auto;
    }

    .square{
        left: 49%;
    }

    .container-team{
        max-width: 600px;
    }
    
    .photo{
        width: 278px;
        height: 278px;
    }
    .image{
        width: 278px;
    }

    .about-pair{
        width: 537px;
    }

    .containernetworks-pair{
        transform: translateX(202px);
    }

   

   }