<hr>
        <footer>
            <div class="container footer">


                <div class="copyright">Eniac Women © 2019</div>
                <div>
                    <ul class="nav">
                        <li><a href="#team">EQUIPO</a></li>
                        <li><a href="#about">QUIÉNES SOMOS</a></li>
                        <li><a href="contact-form.html" target="_blank">CONTACTO</a></li>
                    </ul>
                </div>
                <div class="logo_Adalab">
                    <a href="#hero">
                        <img src="./assets/images/logo-adalab.png" alt="logo Adalab" height="45px" width="115.9px">
                    </a>
                </div>
            </div>


        </footer>