<hr>
<footer>
    <div class="container footer">


        <div class="copyright">Eniac Women © 2019</div>
        <ul class="nav">
            <li><a href="index.html#team">EQUIPO</a></li>
            <li><a href="index.html#container">QUIÉNES SOMOS</a></li>
            <li><a href="contact-form.html">CONTACTO</a></li>
        </ul>
        <div class="logo_Adalab">
            <a href="https://adalab.es" target="_blank">
                <img class="logo_footer" src="./assets/images/logo-adalab.png" alt="logo Adalab" height="45px"
                    width="115.9px">
            </a>
        </div>
    </div>


</footer>