/* .wrapper{
    border: 2px solid rgb(180, 39, 39);
} */.wrapper {
  margin: 0 15px;
}/* ########## HEADER SECTION ##############*/.header_base {
  background-color: #099d8d;
  opacity: 0.95;
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.name_team {
  font-family: Rubik;
  font-size: 16px;
  color: #fff;
  line-height: 30px;
  font-weight: 500;
}

.menu {
  background-color: #14d9c4;
  font-family: Rubik;
  font-size: 15px;
  opacity: 0.9;
  line-height: 30px;
  font-weight: 500;
  margin: 0 0;
  padding: 0 17px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  height: 45px;
  margin: 0;
  padding: 0;
  color: #fff;
}

.navigation a {
  text-decoration: none;
  color: #fff;
}

.navigation a:hover {
  color: #54585a;
}

.name_team a {
  text-decoration: none;
  color: #fff;
}

.hero-image {
  height: 412px;
  background: url(../images/Eniac-Women-old.jpeg) 80% center no-repeat;
  background-size: cover;
  margin: 0 -15px;
}

.hero-image .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}/*######### MAIN SECTION: CONTACT US ##########*/.title {
  color: #099d8d;
  font-family: 'Rubik';
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.section {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 144px;
  color: #54585a;
}

.paragraph {
  font-size: 12px;
}

.form {
  color: #54585a;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  background-color: #099d8d;
  color: #fff;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 45px;
  margin-top: 17px;
}

.input {
  width: 100%;
  height: 45px;
  border: solid 1px #b8b8b9;
  color: #b8b8b9;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-top: 7px;
  margin-bottom: 13px;
}

.message {
  height: 105px;
}

label,input {
  display: block;
}

.inline-position {
  display: inline-block;
}

.asterisk {
  color: #14d9c4;
}/* ########## FOOTER ##########*/footer {
  text-align: center;
}

.copyright {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #b8b8b9;
  margin-top: 30px;
  margin-bottom: 20px;
 /*height: 28%;*/;
}

.nav {
  list-style: none;
  padding: 0px;
  height: 24%;
}

.nav a {
  color: #54585a;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}

.nav a:hover {
  color: #14d9c4;
}

.logo_Adalab {
  margin-top: 30px;
  margin-bottom: 45px;
}/* ########## MEDIAQUERIES ###########*/@media all and (min-width: 768px) {
  .wrapper {
    margin: 0 163px;
  }/* ##### HEADER ##### */  .container {
    margin: 0 46px;
  }

  .hero-image {
    margin: 0 -163px;
  }

  .cont_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .menu {
    background-color: #099d8d;
    width: 320px;
  }/* ##### FORM ##### */  .section {
    height: 120px;
  }

  .button {
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 50%;
  }/* ##### FOOTER ##### */  .footer {
    margin: 0 -118px;
  }

  .container--footer {
    padding: 0 45px;
  }

  .copyright,.logo_Adalab {
    text-align: left;
  }

  .nav {
    text-align: right;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  .logo_Adalab {
    -webkit-transform: translateY(-90px);
    transform: translateY(-90px);
  }

  .footer {
    height: 130px;
  }
}

@media all and (min-width: 1200px) {
  .wrapper {
    margin: 0 300px;
  }

  .hero-image {
    margin: 0 -300px;
  }

  .section {
    height: 96px;
  }

  .container--form {
    margin-bottom: 120px;
  }

  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .contact--email {
    margin-right: 22px;
    width: 70%;
  }

  .contact--phone {
    margin-left: 22px;
  }

  .footer {
    margin: 0 -162px;
  }
}

/*# sourceMappingURL=main_contact-form.css.map */
