footer {
    text-align: center;

}


.copyright {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #b8b8b9;
    margin-top: 30px;
    margin-bottom: 20px;
    /*height: 28%;*/
}
.nav {
    list-style: none;
    padding: 0px;
    height: 24%;    
}
 .nav a {
    color: #54585a;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
}

.nav a:hover{
    color: #14d9c4;
}

.logo_Adalab {
    margin-top: 30px;
    margin-bottom: 45px;
}
.logo_Adalab:hover {
    animation-name: logorot;
    animation-delay: 0.2s;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
}
@keyframes logorot {
    0% {
    transform: rotate(-360deg);
    }
     50% {
     transform: rotate(-180deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }