.header__base{
    background-color: $dark-green;
    opacity: 0.95;
    position: fixed;
    width: 100%;
    text-align: center;
    top:0px;
    left: 0px;
    z-index: 1;
}

.name_team{
    font-family: $rubik-font;
    font-size: 16px;
    color: $white;
    line-height: 30px;
    font-weight: 500;
    a {
        text-decoration: none;
        color: $white;
    }
}

.menu{
    background-color: $aqua;
    font-family: $rubik-font;
    font-size: 15px;
    opacity: 0.9;
    line-height: 30px;
    font-weight: 500;
    margin: 0 -17px;
    padding: 0 17px;
    .navigation {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        height: 45px;
        margin: 0;
        padding: 0;
        color: $white;
        a {
            text-decoration: none;
            color:$white;
            &:hover{
                color: $dark-grey;
            }
        }

    }
}
