// ****COLORS****
$white: #ffffff;
$dark-grey: #54585a;
$grey-opacity: rgba(184, 184, 185,0.2);
$black: #000000;
$black-opacity: rgba(0, 0, 0, 0.08);
$dark-green: #099d8d;
$cool-grey: #b8b8b9;
$aqua: #14d9c4;

// ****FONTS****
$open-sans-font: 'Open Sans', sans-serif;
$rubik-font: 'Rubik', sans-serif;

// ****DEVICES****
